body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
}

.citations-group {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

label {
  font-size: 1.5vw;
  margin-top: 1vw;
}

input {
  height: 3vh;
  width: 28vw;
  border-radius: 7px;
  margin-top: 1vw;
}

#citation-btn {
  height: 4vh;
  width: 11vw;
  align-self: center;
  font-size: 1.5vw;
  margin-top: 1vw;
  border-radius: 7px;
}

#text {
  font-size: 1.5vw;
  margin: 1vw 0 0 0;
}

#author {
  margin: 1vw 0 0 0;
}
